Q1: Create a list of 10 integers. Print the first 3 and last 3 elements using slicing.

In [14]:
list1=[1,2,3,4,5,6,7,8,9,10]
print(list1[:3],list1[-3:])

[1, 2, 3] [8, 9, 10]

Q2: Append 2 new elements to the list and remove one element by value.

In [19]:
list1=[1,2,3,4,5,6,7,8,9,10]
list1.append(13)
print(list1)
list1.append(15)
print(list1)
list1.remove(10)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 15]

Q3: Create a nested list (3x3 matrix) and print the element in the second row, third column.

In [22]:
list1=[[1,2,3],[4,5,6],[7,8,9],[10]]
print(list1[1][2])

6

Q4: Create a tuple with 5 elements. Unpack the tuple into 5 variables and print them.

In [24]:
# Create a tuple with 5 elements
my_tuple = (10, 20, 30, 40, 50)

# Unpack the tuple into variables
a, b, c, d, e = my_tuple

# Map variable names to their values
variables = {"a": a, "b": b, "c": c, "d": d, "e": e}

# Print using a for loop
print("Values after unpacking:")
for name, value in variables.items():
    print(f"Variable {name} = {value}")

Values after unpacking:
Variable a = 10
Variable b = 20
Variable c = 30
Variable d = 40
Variable e = 50

Q5: Create a dictionary to store details of 3 students (name, age, grade). Print all student names.

In [30]:
students=[
        {"name":"Shubham","age":24,"grade":"A"},
        {"name":"Ritik","age":23,"grade":"B"},
        {"name":"Abhi","age":25,"grade":"A"}
]
print("Student Names:")
for student in students:
    print(student["name"])

Student Names:
Shubham
Ritik
Abhi

Q6: Add a new student to the dictionary and update the grade of an existing student.

In [31]:
students.append({"name": "rushi","age":22,"grade":"C"})

 # students[1]["grade"] = "A+"
for s in students:
    if s["name"] == "Shubham":
        s["grade"] = "A+"
print(students)

[{'name': 'Shubham', 'age': 24, 'grade': 'A+'}, {'name': 'Ritik', 'age': 23, 'grade': 'B'}, {'name': 'Abhi', 'age': 25, 'grade': 'A'}, {'name': 'rushi', 'age': 22, 'grade': 'C'}]

Q7: Loop through the dictionary and print keys and values in 'key : value' format.

In [37]:
for s in students:
    for key,value in s.items():
        print(f"{key} : {value}")
    print("\n")

name : Shubham
age : 24
grade : A+


name : Ritik
age : 23
grade : B


name : Abhi
age : 25
grade : A


name : rushi
age : 22
grade : C

Q8: Create a set with duplicate elements and print the set to show unique elements.

In [38]:

numbers = {1, 2, 3, 2, 4, 1, 5, 3}


print("Set with unique elements:", numbers)

Set with unique elements: {1, 2, 3, 4, 5}

Q9: Perform union and intersection of two sets and print the results.

In [39]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

unionSet = set1.union(set2)

intersectionSet = set1.intersection(set2)

print("set 1 : ",set1)
print("set 2 : ",set2)
print("UNION : ",unionSet)
print("intersectionSet : ",intersectionSet)

set 1 :  {1, 2, 3, 4}
set 2 :  {3, 4, 5, 6}
UNION :  {1, 2, 3, 4, 5, 6}
intersectionSet :  {3, 4}

Q10: Mini Project: Employee Data Manager
- Store 5 employees in a dictionary (id:{name, dept, salary})
- Print all employee names
- Find employees with salary > 48000
- Add a new employee
- Update salary of an existing employee

In [3]:
employees = {
    101: {"name": "Shubham",
           "dept": "IT",
            "salary": 50000},
    102: {"name": "Riya", "dept": "HR", "salary": 45000},
    103: {"name": "Amit", "dept": "Finance", "salary": 52000},
    104: {"name": "Sara", "dept": "Marketing", "salary": 47000},
    105: {"name": "Vikram", "dept": "IT", "salary": 49000},
}

print("Employee Names : ")
for emp in employees.values():
    print("\t",emp["name"])

print("\nEmployees with salary > 48000:")
for emp in employees.values():
    if emp["salary"] > 48000 :
        print(f"name : {emp["name"]} \t salary : {emp['salary']}")

new_id = 100
employees[new_id] = {"name": "Samarth", "dept": "IT", "salary": 52000}
print("\n new EMployee Added")
print(employees[new_id])

id = 102
employees[id]["salary"] = 48000
print(f"\n Updates salary of {employees[id]["name"]} to {employees[id]["salary"]}")

Employee Names :
	 Shubham
	 Riya
	 Amit
	 Sara
	 Vikram

Employees with salary > 48000:
name : Shubham 	 salary : 50000
name : Amit 	 salary : 52000
name : Vikram 	 salary : 49000

 new EMployee Added
{'name': 'Samarth', 'dept': 'IT', 'salary': 52000}

 Updates salary of Riya to 48000