Q1: Write a function that takes two numbers and returns their sum.

In [1]:
def sum(a,b):
    return a+b
print(sum(5,6))

11

Q2: Write a function to calculate the factorial of a number (n!).

In [2]:
def factorial(no):
    if no == 0 or no ==1 :
        return 1
    else:
        return no*factorial(no-1)

print(factorial(5))

120

Q3: Write a function greet(name='Guest') that prints 'Hello, <name>' and test it with/without arguments.

In [4]:
def greet(name='Guest'):
    print(f"Hello {name}")

greet("Shubham")
greet()

Hello Shubham
Hello Guest

Q4: Write a function that accepts *args and returns the maximum value.

In [6]:
def find_max(*arg):
    # return max(arg)
    max =arg[0]
    for i in arg[1:]:
        if i>max:
            max=i
    return max  

print(find_max(10, 20, 5, 50, 30))   
print(find_max(-1, -5, -3))

50
-1

Q5: Write a function that accepts **kwargs and prints key : value pairs.

In [10]:
def show(**k):
    print("key : value")
    for key,val in k.items():
        print(f"{key} : {val}")

show(name="Shubham", age=24, grade="A")
show(city="Pune", role="Data Analyst")

key : value
name : Shubham
age : 24
grade : A
key : value
city : Pune
role : Data Analyst

Q6: Use a lambda function to find the cube of a number.

In [11]:
cube = lambda x: x**3
print(cube(5))

125

Q7: Use map with lambda to convert a list of Celsius temperatures into Fahrenheit.

In [18]:
tempC = lambda x: x*9/5 + 32
print(tempC(34))

celsius = [0, 10, 20, 30, 40]

far = list(map(lambda x: x*9/5 + 32, celsius))

# print("Celsius:", celsius)
# print("Fahrenheit:", far)

# for c,f in zip(celsius, far):
#     print(f"{c} : {f}")

temp = dict(zip(celsius,far))
print(temp)

93.2
{0: 32.0, 10: 50.0, 20: 68.0, 30: 86.0, 40: 104.0}

Q8: Use filter with lambda to extract names that start with 'A' from a list of names.

In [19]:
names = ["Shubham", "Ritik", "Abhi", "Anita", "Riya", "Aman"]

show = list(filter(lambda x: x.startswith("A"),names ))

print("Starts with A", show)

Starts with A ['Abhi', 'Anita', 'Aman']

Q9: Use reduce with lambda to multiply all elements in a list.

In [22]:
from functools import reduce

numbers = [2, 3, 4, 5]

pro = reduce(lambda x,y : x*y,numbers)

print(" product of all = ",pro)

 product of all =  120

Q10: Mini Project: Data Cleaning Function
- Input: list of strings with spaces & duplicates
- Task: strip spaces, convert to lowercase, remove duplicates
- Example: ['  Apple','banana ','APPLE','Mango','banana'] â†’ ['apple','banana','mango']